---
layout: default
title: Home
---
<h2>This page</h2>
<p>
    <span>Hello, and welcome to my page!</span>
</p>
<p>
    <span>This page serves one main purpose for now: Documenting the process of my 4th semester project!</span>
    <span>As such, the page will mainly contain research posts, process reviews, and general information I'm keeping around for the sake of my own memory.</span>
</p>
<p>
    <span>To navigage to different pages, you can use the navigation bar at the top of the screen.</span>
    <span>In particular, to view all posts regarding a certain topic, check out the Tags page.</span>
    <span>Alternatively, you can go through the latest posts in the overview below.</span>
</p>

<hr />

<h2>Project description</h2>
<p>
    TBC
</p>

<hr />

<h2>Latest posts</h2>
<ul>
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%Y-%m-%d" }}</small>
        {% if post.tags %}<em> — {{ post.tags | join: ", " }}</em>{% endif %}
    </li>
    {% endfor %}
</ul>
