---
layout: default
---
<article class="post">
    <h1>{{ page.title }}</h1>
    <p class="meta">
        <small>
            {{ page.date | date: "%Y-%m-%d" }}
            {% if page.tags and page.tags.size > 0 %} — Tags:
            {% for t in page.tags %}
            <a href="{{ "/tags.html#tag-" | append: t | slugify | relative_url }}">{{ t }}</a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
            {% endif %}
        </small>
    </p>
    {{ content }}
</article>
